<div class="jumbotron">
	<h1><center>Online bookstore located in downtown Santo Domingo, Dominican Republic</center></h1>
	<h2>Mailing Address</h2>
	<address>
	   The Bookstore<br>
	   P.O. Box 1234<br>
	   Santo Domingo, Dominican Republic<br>
	</address>
</div>
